<div class="container">
  <h3>Employee</h3>
  <div class="row">
    <div class="col">
      <a class="btn btn-dark" (click)="NewSalary()">New</a>
    </div>
  </div>
  <div class="row mb-1 mt-2">
    <div class="col">
      <h6>Code</h6>
    </div>
    <div class="col">
      <h6>Name</h6>
    </div>
    <div class="col">
      <h6>Surname</h6>
    </div>
    <div class="col">
      <h6>Identification Number</h6>
    </div>
  </div>

  <div class="row">
    <div class="col mb-1">
      <div class="input-group">
        <input
          type="text"
          maxlength="10"
          class="form-control"
          placeholder="Employee Code"
          aria-label="EmployeeCode"
          aria-describedby="basic-addon1"
          [(ngModel)]="employee.employeeCode"
          [class.alert-danger]="errors.includes('employeeCode')"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="GetSalary()"
          >
            Find
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          maxlength="150"
          class="form-control"
          placeholder="Name"
          aria-label="employeeName"
          aria-describedby="basic-addon1"
          [(ngModel)]="employee.employeeName"
          [class.alert-danger]="errors.includes('employeeName')"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          maxlength="150"
          class="form-control"
          placeholder="Surname"
          aria-label="employeeSurName"
          aria-describedby="basic-addon1"
          [(ngModel)]="employee.employeeSurName"
          [class.alert-danger]="errors.includes('employeeSurName')"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          maxlength="10"
          class="form-control"
          placeholder="Identification Number"
          aria-label="dentificationNumber"
          aria-describedby="basic-addon1"
          [(ngModel)]="employee.identificationNumber"
          [class.alert-danger]="errors.includes('identificationNumber')"
        />
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col">
      <h6>Office</h6>
    </div>
    <div class="col">
      <h6>Division</h6>
    </div>
    <div class="col">
      <h6>Position</h6>
    </div>
    <div class="col">
      <h6>Grade</h6>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <select
        [(ngModel)]="employee.officeId"
        class="form-select"
        [class.alert-danger]="errors.includes('officeId')"
        aria-label="Default select example"
      >
        <option disabled>Select Office</option>
        <option *ngFor="let office of offices" [ngValue]="office.id">
          {{ office.name }}
        </option>
      </select>
    </div>

    <div class="col">
      <select
        [(ngModel)]="employee.divisionId"
        class="form-select"
        [class.alert-danger]="errors.includes('divisionId')"
        aria-label="Default select example"
      >
        <option disabled>Select Division</option>
        <option *ngFor="let division of divisions" [ngValue]="division.id">
          {{ division.name }}
        </option>
      </select>
    </div>

    <div class="col">
      <select
        [(ngModel)]="employee.positionId"
        class="form-select"
        [class.alert-danger]="errors.includes('positionId')"
        aria-label="Default select example"
      >
        <option disabled>Select Position</option>
        <option *ngFor="let position of positions" [ngValue]="position.id">
          {{ position.name }}
        </option>
      </select>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          placeholder="Grade"
          aria-label="Grade"
          aria-describedby="basic-addon1"
          [(ngModel)]="employee.grade"
          [class.alert-danger]="errors.includes('grade')"
        />
      </div>
    </div>
  </div>

  <h3>Salary</h3>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-dark m-1" (click)="AddSalary()">
        Add
      </button>
      <button type="button" class="btn btn-dark m-1" (click)="Order()">
        Order
      </button>
      <button type="button" class="btn btn-dark m-1" (click)="Save()">
        Save
      </button>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col text-center">
      <h6>Year</h6>
    </div>
    <div class="col text-center">
      <h6>Month</h6>
    </div>
    <div class="col text-center">
      <h6>Office</h6>
    </div>
    <div class="col text-center">
      <h6>Division</h6>
    </div>
    <div class="col text-center">
      <h6>Position</h6>
    </div>
    <div class="col text-center">
      <h6>Grade</h6>
    </div>
    <div class="col text-center">
      <h6>Base Salary</h6>
    </div>
    <div class="col text-center">
      <h6>Production Bonus</h6>
    </div>
    <div class="col text-center">
      <h6>Compensation Bonus</h6>
    </div>
    <div class="col text-center">
      <h6>Commission</h6>
    </div>
    <div class="col text-center">
      <h6>Contributions</h6>
    </div>
    <div class="col text-center">
      <h6>Actions</h6>
    </div>
  </div>
  <div class="row" *ngFor="let salary of salaries">
    <div class="col mb-1">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          placeholder="Year"
          aria-label="Year"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.year"
          [class.alert-danger]="salary.yearError != 0"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="number"
          min="1"
          max="12"
          class="form-control"
          placeholder="Month"
          aria-label="Month"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.month"
          [class.alert-danger]="salary.monthError != 0"
        />
      </div>
    </div>
    <div class="col p-.1">
      <select
        [(ngModel)]="salary.officeId"
        class="form-select form-select-sm"
        [class.alert-danger]="errors.includes('officeId')"
        aria-label="Default select example"
      >
        <option *ngFor="let office of offices" [ngValue]="office.id">
          {{ office.name }}
        </option>
      </select>
    </div>
    <div class="col p-.1">
      <select
        [(ngModel)]="salary.divisionId"
        class="form-select"
        [class.alert-danger]="errors.includes('divisionId')"
        aria-label="Default select example"
      >
        <option *ngFor="let division of divisions" [ngValue]="division.id">
          {{ division.name }}
        </option>
      </select>
    </div>
    <div class="col p-.1">
      <select
        [(ngModel)]="salary.positionId"
        class="form-select"
        [class.alert-danger]="errors.includes('positionId')"
        aria-label="Default select example"
      >
        <option *ngFor="let position of positions" [ngValue]="position.id">
          {{ position.name }}
        </option>
      </select>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          placeholder="Grade"
          aria-label="Grade"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.grade"
          [class.alert-danger]="errors.includes('grade')"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Base Salary"
          aria-label="Base Salary"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.baseSalary"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Production Bonus"
          aria-label="Production Bonus"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.productionBonus"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Compensation Bonus"
          aria-label="Compensation Bonus"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.compensationBonus"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Commission"
          aria-label="Commission"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.commission"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Contributions"
          aria-label="Contributions"
          aria-describedby="basic-addon1"
          [(ngModel)]="salary.contributions"
        />
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-dark" (click)="Delete(salary)">
        Delete
      </button>
    </div>
  </div>
  <div class="row" *ngIf="messaje != ''">
    <div class="col">
      <div class="alert alert-success" role="alert">{{ messaje }}</div>
    </div>
  </div>
</div>
