<div class="container">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mi Negocio</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/salary">salary</a>
        <a class="nav-item nav-link" routerLink="/calculadora">Calculadora</a>
        <a class="nav-item nav-link" routerLink="/listado-precios">Precios</a>
        <a class="nav-item nav-link" routerLink="/venta">Vender</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
